html,
body {
  margin: 0;
  padding: 0;
  background: #dce;
  align-items: center;
  max-width: 100%;
  overflow-x: hidden;
}

canvas {
  display: block;
  margin: 0 auto;
  z-index: 1;
}

.marquee {
    font-size: 20px;
    line-height: 30px;
    height:30px;
    width: 100%;
    white-space: nowrap;
    animation: marquee 15s linear infinite;
    -moz-animation:  marquee 15s linear 0s infinite;
    -webkit-animation:  marquee 15s linear 0s infinite;
}
@keyframes marquee {
  0% { margin-left:120%; } 100% { margin-left:-1000px; }  
}
@-moz-keyframes marquee { 
    0% { margin-left:120%; } 100% { margin-left:-1000px; }  
}
@-webkit-keyframes marquee { 
    0% { margin-left:120%; } 100% { margin-left:-1000px; }  
}

.horizontal-list, .horizontal-list li
{
  display: inline;
  margin-right: 2em;
}

.ml-2 {
  margin-left: 2em;
}

.pickBtn{
  position: inherit;
  bottom: 0;
  transform: translate(-50%, 0%);
}

.pickBtnContainer{
  text-align: center;
  height: 100%;
  position: absolute;
  align-items: center;
}

.pickContainer 
{
  position: relative;
  align-items: center;
}

