html,
body {
  margin: 0;
  padding: 0;
  background: #dce;
  align-items: center;
}

canvas {
  display: block;
  margin: 0 auto;
}

#pickInContainer
{
  background:#222;
}

#pickIn {
  font-size: 12vw;
  color: #f33;
  margin: auto;
  text-align:center;
  height: 12vw;
  animation: blink-animation .25s steps(5, start) infinite;
  -webkit-animation: blink-animation .25s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

